@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
}

:root {
  --background: #86cdea;
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.98 0 0);
  --card-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #b9ddeb;
  --secondary-foreground: oklch(27.68% 0.00003 271.152);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}